---
name: Build docker image

on:
  workflow_call:
    inputs:
      image_path:
        required: true
        description: The path to the image to build, relative to the 'images' directory.
        type: string
      output_tags:
        required: false
        description: The tags to apply to the built image, comma separated. If not provided, 'latest' and the current date will be used.
        type: string
      build_args:
        required: false
        description: Build arguments to pass to the Docker build process. (e.g. VAR=value,VAR2=value2)
        type: string

env:
  IMAGE_NAME: ghcr.io/kriansa/docker-images/${{ inputs.image_path }}

jobs:
  build-and-push-image:
    name: Build and push the Docker image application
    runs-on: ubuntu-latest
    steps:
      - name: Set image tags
        id: image_tags
        run: |
          TIMESTAMP=$(date '+%Y-%m-%d')

          # Define the tagnames for this image
          if [ "${{ inputs.output_tags }}" != "" ]; then
            IFS=',' read -ra input_tags <<< "${{ inputs.output_tags }}"
            prefixed_tags=()
            for tag in "${input_tags[@]}"; do
              prefixed_tags+=("${image_name}:$tag")
            done
            tags=$(IFS=,; echo "${tags_array[*]}")
          else
            tags="${image_name}:latest,${image_name}:${timestamp}"
          fi

          echo "name=tags::${TAGS}" >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push container image
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: images/${{ inputs.image_path }}
          push: true
          tags: ${{ steps.image_tags.outputs.tags }}
          build-args: ${{ inputs.build_args }}

      - name: Delete old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ env.IMAGE_NAME }}
          min-versions-to-keep: 2
